.border{
  border: 1px solid black;
}

.header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:2px;
  position: sticky;
  top: 0;
  width:100%;
  background-color: #16a085;
  color: white;
  font-weight: bolder;
}

.main{
  background-image: url('./images/syncmain.png');
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.main h2{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top:4vh;
  color: white;
}

.main img{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.main button{
  background-color: #e67e22;
  padding: 10px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  box-shadow: 2px 2px #f1c40f;
}

.intro{
  font-family: din-round,sans-serif;
  text-align: center;
  padding: 10px;
}

.intro p{
  color: gray;
  font-family: din-round,sans-serif;
  text-align: justify;
}

.intro img{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.benefits{
  padding: 10px;
}

.benefits p{
  text-align: center;
  margin-left: 10vh;
}

.benefits-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}